/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES*/
/* colors & font type*/
:root{
    --primary-color: #053e6d;
    --secondary-color: #021e35 ;
    --primary-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --danger-color: rgb(245, 84, 84);
    --success-color: #28a745;
}

/* OVERAL DISPLAY */
html, body{
    font-family: var(--primary-font);
}

/* ELEMENTS */
/* anchor links */
a{
    text-decoration: none;
    color: #000;
}


/* lists */
ul{
    list-style: none;
}
/* headings */

/* paragraphs */

/* ALERTS*/
.alert{
    font-size: .7rem;
    padding: .3rem .5rem;
    color: #fff;
    text-align: center;
    background: var(--danger-color);
}

.danger{ background: var(--danger-color); }

.success{ background: var(--success-color); }


/* LAYOUT STRUCTURE */
/* padding y-axis */
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}


/* TEXT */
.text-primary{
    color: var(--primary-color);
}


/* BUTTONS */
/* basic button */
.btn{
    display: inline-block;
    font-size: 1rem;
    color: #fff ;
    background: var(--secondary-color) ;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    /* border-radius: ; */
}

.btn:hover{
    background: var(--primary-color);
}

.btn-dark{
    background: var(--primary-color);
}

.btn-dark:hover{
    background: var(--secondary-color);
}

/* main */
#main{
    background: rgb(202, 199, 199);
    width: 50%;
    margin: auto;
    margin-top: 5rem;
}

#main .main-container{
    padding: 2rem;
}

/* form */
form .form-section input{
    border: 1px solid rgba(153, 153, 153, 0);
    padding: .5rem;
    margin: 1rem 0rem;
    width: 60%;
}

form .form-section input:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}

.collection-items{
    display: flex;
    background: #999;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding: .5rem;
    width: 80%;
}

.collection-items i{
    color: var(--danger-color);
}